.app-select{
justify-content: center;
display: flex;
padding-top: 20px;
color: blue;
background-color: black;
}

.dropdown-menu li {
    position: relative;
    }
    .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
    }
    .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
    }
    .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
    }

    .select {
        position: relative;
        display: inline-block;
        margin-bottom: 15px;
        width: 100%;
    }    .select select {
            font-family: 'Arial';
            display: inline-block;
            width: 100%;
            cursor: pointer;
            padding: 6px 15px;
            outline: 0;
            border: 2px groove #000000;
            border-radius: 0px;
            background: #4d54cd;
            color: #141212;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
            .select select::-ms-expand {
                display: none;
            }
            .select select:hover,
            .select select:focus {
                color: #000000;
                background: #685fec;
            }
            .select select:disabled {
                opacity: 0.5;
                pointer-events: none;
            }
    .select_arrow {
        position: absolute;
        top: 11px;
        right: 29px;
        width: 13px;
        height: 13px;
        border: solid #7b7b7b;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    .select select:hover ~ .select_arrow,
    .select select:focus ~ .select_arrow {
        border-color: #000000;
    }
    .select select:disabled ~ .select_arrow {
        border-top-color: #cccccc;
    }